body {
  background: linear-gradient(
    109.6deg,
    rgb(169, 203, 102) 11.2%,
    rgb(173, 210, 39) 98.7%
  );
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  text-decoration-line: overline, underline, rgb(21, 209, 21);
  background-color: 50%, rgb(56, 96, 56);
  text-align: center;
}
p {
  color: orangered;
}
h2 {
  font-style: italic;
  text-align: center;
  color: rgb(228, 235, 31);
}
